<% provide(:page_title, directorTitle("Les menus")) %>

<section id="products">

    <header class="page-header">
        <h1>Les menus</h1>
    </header>

    <div class="row-fluid">
        <p class="span9"><%= pluralize(@menus.count, "menus", "menus") %></p>
        <a href="<%= new_menu_path %>" class="btn btn-primary span2">Nouveau menu +</a>
    </div>


    <%= will_paginate %>

    <table class="table table-bordered table-striped products">
        <% if @menus.any? %>
            <thead>
            <th>Nom</th>
            <th>Nombre de produits</th>
            <th>Planification</th>
            </thead>
            <tbody>
            <%= render @menus %>
            </tbody>
        <% else %>
            <tr>
                <td>Aucun menu trouvé.</td>
            </tr>
        <% end %>
    </table>

    <%= will_paginate %>

</section>