<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="<%= root_path %>">YouFood</a>

            <% if signed_in? %>
            <div class="nav-collapse">
                <ul class="nav pull-right">
                    <li>
                        <p>Bienvenue <%= current_user.name %></p>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <%= link_to("Se déconnecter", signout_path, method: :delete) %>
                    </li>
                </ul>
            </div>
            <% end %>

            <div class="nav-collapse">
                <ul class="nav">
                    <% if signed_in_director? %>
                        <li><a href="<%= restaurants_path %>">Les Restaurants</a></li>
                        <li><a href="<%= products_path %>">Les Produits</a></li>
                        <li><a href="<%= menus_path %>">Les Menus</a></li>
                    <% end %>

                    <% if signed_in_manager? %>
                        <li><a href="<%= employees_path %>">Le Personnel</a></li>
                        <li><%= link_to "La salle", '/restaurant_manager/room' %> </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>