<% provide(:page_title, director_title(@restaurant.name)) %>

<section id="product-details" class="details">

    <header class="page-header">
        <h1><%= @restaurant.name %></h1>

        <h3><%= @restaurant.restaurant_manager.email %></h3>
    </header>

    <div class="row-fluid">
        <div class="span8">
            <table>
                <tbody>
                <tr>
                    <td>Gérant</td>
                    <td><%= @restaurant.restaurant_manager.name %></td>
                </tr>
                <tr>
                    <td>Contact</td>
                    <td><%= @restaurant.phone %></td>
                </tr>
                <tr>
                    <td>Adresse</td>
                    <td><%= "#{@restaurant.address} #{@restaurant.city}" %></td>
                </tr>
                <tr>
                    <td>Couverts</td>
                    <td><%= pluralize(@restaurant.capacity, "couvert", "couverts") %></td>
                </tr>
                <tr>
                    <td>Employés</td>
                    <td><%= pluralize(@restaurant.employees.count, "employé", "employés") %></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="span4">
            <%= link_to "Modifier", edit_restaurant_path(@restaurant), class: "btn btn-primary span2" %>
            <%= link_to "Supprimer", @restaurant, method: :delete,
                        confirm: "Êtes-vous sûr de vouloir supprimer le restaurant #{@restaurant.name}?",
                        class: "btn btn-danger span2" %>
        </div>
    </div>

</section>

